.calculator_element.noUi-horizontal  {
    &.noUi-target {
        border-radius: 30px;
        height: 9px;
        border: none;
        background-color: #C4C4C4;

    }
    .noUi-connects {
        border-radius: 30px;
    }
    .noUi-connect {
        border-radius: 30px;
        background-color: $s_color;
        transition: .2s;
    }
    .noUi-origin {
        transition:.2s;

    }
    .noUi-handle {
        border: none;
        border-radius: 50%;
        background-color: $s_color;
        box-shadow: 0px 0px 10px rgba(173, 40, 32, 0.46);
        right: -15px!important;
        top: -11px;
        width: 30px;
        height: 30px;
        outline: none;
        transition: .2s;
        cursor: pointer;
        &:focus {
            box-shadow: none;
            background-color: darken($s_color, 10);
        }
        &::before, &::after {
            display: none;
        }
    }
}