extends ./_layouts/default
block vars
    - var title = 'Inqriz - Конструктор квизов на сайт Бесплатно'
    - var bodyClass = "main_page"
block styles
    link(rel="stylesheet" href="/css/custom-quiz.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css")
    link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")
block content
    section.main
        .container
            h1 Создадим квиз за 4990