extends ./_layouts/default
block vars
    - var title = 'Inqriz -Публичная оферта'
    - var bodyClass = "privacy"
block styles
    link(rel="stylesheet" href="/css/styles.css")

block content
    .container
        pre.
            1. Предмет договора

            1.1. Предметом настоящей оферты является создание базы данных по поручению и параметрам указанным Заказчиком, через автоматизированный программно-технический комплекс (далее – Генератор).

            1.2. Генератор предназначен только для персонального использования Заказчиком в качестве Пользовательского программного обеспечения.

            1.3. Используя Генератор, Заказчик обязуется соблюдать существующие нормы законодательства и международного права, нести всю ответственность за свои действия, связанные с использованием Генератора.

            1.4. Для оформления поручения на создание базы данных, Заказчику необходимо самостоятельно изучить и заполнить электронные формы, представленные в интерфейсе Генератора.

            1.5. Акцептом (принятием) данной оферты (заключением договора) является факт совершения оплаты Заказчиком за осуществление операции указанной в п.1.1 настоящей оферты.

            1.6. Фактом оплаты услуг считается момент получения сообщения от процессингового центра оператора или провайдера платёжных сервисов о зачислении денежных средств за оплату доступными способами.

            1.7. С момента совершения акцепта Заказчик считается ознакомленным и принявшим все условия данной оферты.

            2. Обязанности Исполнителя 

            2.1. Обеспечить Заказчику создание базы данных через Генератор в соответствии с параметрами и тарифом, выбранными Заказчиком и условиями настоящей оферты. 

            2.1. При желании Заказчика осуществить доставку, либо уведомление, по завершении операции создания базы данных, путем передачи файлов на указанный адрес электронной почты.

            2.2. Обеспечить хранение и возможность скачивания базы данных с веб-сервера Исполнителя в течение времени, указанного на веб-сайте Генератора.

            2.3. Обеспечить конфиденциальность информации, предоставленной Заказчиком, за исключением случаев, предусмотренных действующим законодательством.

            3. Права и обязанности Заказчика

            3.1. Заказчик имеет право:

            3.1.1. Получать от Исполнителя информацию и консультации, в объёме, необходимом для использования Услуг.

            3.2. Обязанности Заказчика:

            3.2.1. Выполнять условия настоящего Договора.

            3.2.2. Своевременно и в полном объеме производить авансовую оплату Услуг.

            3.2.3. Самостоятельно ознакомиться с информацией об условиях предоставления услуг и тарифах на веб-сайте Генератора.

            3.2.4. Обеспечить со своей стороны бесперебойный доступ к Интернет-ресурсу, работоспособность используемого оборудования и программного обеспечения.

            4. Условия и порядок оплаты, оформление поручения Заказчиком

            4.1. Для осуществления операции, описанной в п.1.1. настоящей оферты, Заказчик самостоятельно заполняет электронные формы, представленные в интерфейсе Генератора.

            4.2. Заказчик осуществляет платеж любыми доступными способами, согласно инструкции представленной на веб-сайте Генератора.

            5. Ответственность сторон

            5.1. Ответственность за выполнение условий данной оферты определяется в соответствии с действующим законодательством.

            5.2. Генератор не несет ответственности за не осуществление операции, описанной в п.1.1 настоящей оферты, по не зависящим от него причинам.

            5.3. Стороны признают, что при решении споров о действиях Заказчика при использовании Генератора, документом, подтверждающим действия Заказчика, является протокол действий Заказчика и происходящих в связи с этим событий, регистрируемый программным обеспечением Генератора.