footer.footer
    .container
        .footer_row
            .footer_col.footer_contacts
                .footer_col_title Контакты
                .footer_col_content
                    a(href="#") info@inqriz.com
                    .footer_copy_right
                        | © copyright inqriz
            .footer_col.footer_partenrs
                .footer_col_title Реферальная программа
                .footer_col_content
                    a(href="#") Как заработать на inqriz
                    a(href="#") Как стать партнером
            .footer_col.footer_blog
                .footer_col_title Блог
                .footer_col_content
                    a(href="#") Скоро будет
            .footer_col.footer_soc_links
                .footer_col_title Соц. сети
                .footer_col_content
                    .footer_soc_link
                        a(href="https://vk.com/inqriz")
                            include ../img/icons/vk.svg
                    .footer_soc_link
                        a(href="telegram.com")
                            include ../img/icons/telegram.svg
                    .footer_soc_link
                        a(href="https://instagram.com/inqriz")
                            include ../img/icons/instagram.svg
